# Основные библиотеки
pandas>=2.0.0
numpy>=1.25.0
scikit-learn>=1.4.0
xgboost>=2.0.0
lightgbm>=4.3.0
catboost>=1.2.0

# Визуализация
matplotlib>=3.8.0
seaborn>=0.13.0

# Сериализация и утилиты
joblib>=1.3.0
pathlib

# Контроль версий данных / пайплайны
dvc>=3.0.0

# Тестирование и качество кода
pytest>=8.0.0
flake8>=7.0.0
black>=24.0.0
isort>=5.13.0
pre-commit>=3.6.0

# Прочее
jupyterlab>=4.0.0
